<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Jasmine Spec Runner v2.0.0</title>

	<style type="text/css">
		.header, #content, #footer {
		/*	display: none;*/
		}
	</style>

  <link rel="shortcut icon" type="image/png" href="lib/jasmine-2.0.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="lib/jasmine-2.0.0/jasmine.css">

  <script data-main="./spec_runner.js" src="../app/js/lib/require.js"></script>

</head>

<body>

<div class="header">
	<div class="logo">
		<a href="/">C</a>
	</div>
	<div id="header"></div>
</div>

<div id="content"></div>

<div id="footer"></div>

<script id="headerTemplate" type="text/template">
	<div class="left-nav">
	<% if (active) { %>
		<a href="/dash" id="nav-dash"><div class="glyph">&#x2302;</div><div class="nav-text">Home</div></a>
		<a href="<%= upload_url %>" id="nav-upload"><div class="glyph">&#x21DE;</div><div class="nav-text">Upload</div></a>
		<a href="<%= journals_url %>/new" id="nav-journal"><div class="glyph">&#x270D;</div><div class="nav-text">Journal</div></a>
	<% } %>
	</div>
	<div class="right-nav">
	<% if (active) { %>
		<div id="settings"><div class="glyph">&#x272B;</div></div>
		<div class="profile">
			<div class="profile-pic" id="nav-profile">
				<a href="<%= url %>"><img src="<%= profile_pic.pixels_52.url %>" /></a>
			</div>
			<a href="#" id="profile-select">&#9660;</a>
		</div>
		<a href="<%= messages_url %>" id="nav-messages"><div class="glyph mail">&#x2709;</div></a>
	<% } else { %>
		<a href="/login" id="nav-login">sign in</a>
		<div class="separator">-</div>
		<a href="/signup" id="nav-signup">sign up</a>
	<% } %>
	</div>
</script>

</body>
</html>
