@import url('global.css');
@import url('forms.css');
@import url('profiles.css');
@import url('viewable.css');
@import url('modals.css');
@import url('submissions.css');
@import url('journals.css');
@import url('messages.css');


/* Controller specific styles */

div#content.users.new h1 {
  text-align: center;
  margin-bottom: -0.1em;
  padding-bottom: 0;
}
div#content.users.new fieldset {
  margin: 0 auto;
  width: 430px;
}

div#content.login h1 {
  text-transform: capitalize;
  text-align: center;
}
div#content.login fieldset {
  margin: 0 auto;
  width: 430px;
}

div#content.profiles.new h1, div#content.create h1, div#content.edit h1 {
  text-align: center;
}
div#content.profiles.new fieldset, div#content.create, div#content.edit fieldset {
  margin: 0 auto;
  width: 450px;
}



/* Streams/Dash */

div#tabs {
  background: rgb(192,192,192);
}
div#tabs > ul {
  height: 39px;
  box-shadow: 0 1px 2px rgb(32,32,32);
}
div#tabs > ul > li {
  float: left;
  font-size: 1.4em;
  width: 6em;
  height: 40px;
  text-align: center;
  box-shadow: 1px -1px 1px rgb(32,32,32);
  border-top-right-radius: 6px;
  line-height: 1.6em;
}
div#tabs > ul > li:nth-last-child(1) {
  width: 2em;
}
div#tabs > ul > li.active {
  background: rgb(244,244,244);
  border-top-left-radius: 6px;
  height: 43px;
  margin-bottom: -4px;
  box-shadow: 1px -1px 1px rgb(32,32,32);
}
div#tabs > ul > li a {
  color: rgb(0,0,0);
}

div#wrapper {
  margin: 0 0 0 16em;
}

div#info {
  float: left;
  width: 12em;
  margin-left: -16em;
  padding: 2em 2em 2em 2em;
}

div#stream {
  padding: 2em 2em 2em 138px;
  border: solid black;
  border-width: 0 0 0 1px;
}
div#stream > div.stream-item {
  margin-bottom: 1em;
}
div#stream > div.stream-item > a.profile-link {
  float: left;
  margin: 0 12px 1em -118px;
}
div#stream > div.stream-item > div.profile-head {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
div#stream > div.stream-item > div.profile-head > span {
  font-weight: normal;
  font-size: 1em;
  color: rgb(172,172,172);
}


/* Notifications */

ul#notifications-list li {
  clear: both;
  width: 600px;
  border-top: 1px solid rgb(192,192,192);
  padding: 4px 0;
}
ul#notifications-list li:first-child {
  border-top: none;
}
ul#notifications-list .profile-pic {
  float: left;
  margin-right: 12px;
}
ul#notifications-list .target-pic {
  float: right;
  width: 120px;
}
ul#notifications-list button {
  font-size: 0.75em;
  float: left;
  clear: none;
}

